<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Car Rental System!</h1>
  <p class="lead">Easily Book, Rent, and Manage Your Cars.</p>
  <hr class="my-4">
  
  <div class="d-flex justify-content-center mt-4">
    <a class="btn btn-primary btn-lg mx-2" href="{{ url_for('register') }}" role="button">Register</a>
    <a class="btn btn-success btn-lg mx-2" href="{{ url_for('login') }}" role="button">User Login</a>
    <a class="btn btn-warning btn-lg mx-2" href="{{ url_for('admin_login') }}" role="button">Admin Login</a>
  </div>
</div>
{% endblock %}
